# Binaries
*.exe
*.dll
*.so
*.dylib
porthannis

# Build output
/build/
/frontend/dist/

# Node modules
frontend/node_modules/
package-lock.json

# Go
*.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
